<div class="customModal t-all" ng-class="{active:customModal}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="closeCustomModal()">&times;</button>
                </div>
                <div class="modal-body" ng-if="modalContactView === 'list'">
                    <h4>{{curContact.first}} {{curContact.last}}</h4>
                    <ul class="email-list">
                        <li ng-repeat="email in curContact.emails">{{email.email}}</li>
                    </ul>
                    <div class="action">
                        <button class="edit" ng-click="editContact()">Edit</button>
                        <button class="delete" ng-click="contactDelete(curContact.id)" >Delete contact</button>
                        <button class="cancel" ng-click="closeCustomModal()">Cancel</button>
                    </div>
                </div>
                <div class="modal-body" ng-if="modalContactView === 'edit'">
                    <h4>Edit {{curContact.first}} {{curContact.last}}</h4>
                        <form>
                            <div class="form-group">
                                <input placeholder="Enter first name" name="fname" type="text" ng-model="curContact.first" class="form-control" value="{{curContact.first}}">
                            </div>
                            <div class="form-group">
                                <input placeholder="Enter last name" name="lname" type="text" ng-model="curContact.last" class="form-control" value="{{curContact.last}}">
                            </div>
                            <div class="email-fields" ng-repeat="email in curContact.emails">
                                <div class="form-group">
                                    <input placeholder="Enter email" name="email[]" type="text" ng-model="email.email" class="form-control" value="{{email.email}}" />
                                    <span ng-click="removeMail($index)">Remove</span>
                                </div>
                            </div>
                            <div class="add"><a ng-click="addMail()">Add email</a></div>
                            <div class="action">
                                <button class="save" ng-click="editContactSave()">Save</button>
                                <button class="cancel" ng-click="closeCustomModal()">Cancel</button>
                            </div>
                        </form>
                </div>
                <div class="modal-body" ng-if="modalContactView === 'add'">
                    <h4>Add {{newContact.first}} {{newContact.last}}</h4>
                        <form>
                            <div class="form-group">
                                <input placeholder="Enter first name" name="fname" type="text" ng-model="newContact.first" class="form-control" value="{{newContact.first}}">
                            </div>
                            <div class="form-group">
                                <input placeholder="Enter last name" name="lname" type="text" ng-model="newContact.last" class="form-control" value="{{newContact.last}}">
                            </div>
                            <div class="email-fields" ng-repeat="email in newContact.emails">
                                <div class="form-group">
                                    <input placeholder="Enter email" name="email[]" type="text" ng-model="email.email" class="form-control" value="{{email.email}}" />
                                    <span ng-click="removeNewMail($index)">Remove</span>
                                </div>
                            </div>
                            <div class="add"><a ng-click="addNewMail()">Add email</a></div>
                            <div class="action">
                                <button class="save" ng-click="contactAddSave(newContact)">Save</button>
                                <button class="cancel" ng-click="closeCustomModal()">Cancel</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
</div>

<div class="container cont-wrap">
    <nav class="top-link">
        <ul>
            <li class="user">Welcome <span>{{user}}</span></li>
            <li><a ng-click="logout()">Log out</a></li>
        </ul>
    </nav>
    <div class="cont-head">
        <h1>My Contacts</h1>
        <button class="add" ng-click="contactAdd()">Add contact</button>
    </div>
    <ul	class="cont-list">
        <li ng-if="proposition">You don't have any contacts yet. <a ng-click="contactAdd()">Add one</a></li>
        <li ng-repeat="contact in contacts"><a ng-click="openCustomModal(); getContact(contact)">{{contact.first_name}} {{contact.last_name}}</a></li>
    </ul>
</div>
