<div class="container">
    <div class="login-wrap">
        <h1>Log in</h1>
        <form ng-submit="submit()">
            <div class="form-group">
                <input placeholder="Email" ng-model="user.email" type="text" class="form-control">
                <p class="error" ng-repeat="report in error.email">{{report.msg}}</p>
            </div>
            <div class="form-group">
                <input placeholder="Password" ng-model="user.password" class="form-control" id="pwd">
                <p class="error" ng-repeat="report in error.password">{{report.msg}}</p>
            </div>
            <div class="form-group">
                <button type="submit">Log In</button>

            </div>
            <div class="form-group">
                <p class="error" ng-repeat="report in error.common">{{report.msg}}</p>
            </div>
            <div class="form-group remember">
                <input id="remember" type="checkbox" ng-model="user.save" value="1">
                <label for="remember">Remember me</label>
            </div>
            <div class="form-group pr-link">
                <a href="#/register">Create Account</a>
            </div>
        </form>
    </div>
</div>